<!-- INCLUDE _header.html -->

<div class="container">
  
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="row-fluid" style="margin-bottom:10px;">
    <a class="btn download_action" onclick="return false;"
       style="background: url('{ROOT}assets/img/download_icon.jpg')
      	      100% no-repeat; height:24px; width:18px;">
    </a>
    <!-- <form action="modules/ajax/download_file.php" method="post"> -->
    <!--   <input type="submit" id="download_file_id" style="background: url('{ROOT}assets/img/download_icon.jpg') -->
    <!--   				  100% no-repeat; height:24px; width:18px;"  -->
    <!-- 	     class="btn download_action"> -->
    <!--   <input type="hidden" name="file_to_download" value=""> -->
    <!-- </form> -->
  </div>
  <div class="row-fluid">
    <div id="demo" class="span3" style="border: 2px solid black; height:600px; overflow:auto;">
      
    </div> 
    <div id="visual_div" class="span9" style="border: 2px solid black; height:600px; overflow:auto;">
     
    </div>
  </div>
  <legend style="margin-top:15px;"></legend>
  
  <script type="text/javascript">
    
    const ROOT = '{ROOT}';
    const HTML = '{HTML}';
  </script>
  <script type="text/javascript" src="{ROOT}assets/js/custom.js"></script>
<!-- INCLUDE _footer.html -->
