<!-- INCLUDE _header.html -->
<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Quadco FTP</h1>
    <h3>Login</h3>
    
  </div>
  
  <form action="login.php" method="post">
    <label>Username</label>
    <input type="text" name="Usr_name" placeholder="Username">
    <label>Password</label>
    <input type="password" name="Usr_password" placeholder="Password">
    <label></label>
    <button type="submit" class="btn">Login</button>
  </form>
<!-- INCLUDE _footer.html -->
