<!-- INCLUDE _header.html -->

<div class="container">

  
  <div class="hero-unit">
    <h1>Quadco FTP</h1>
    <h3>Zone administrateur</h3>
    
  </div>
  <!-- Example row of columns -->
  <div class="row">
    <p>Bienvenu dans la zone administrateur.
      De nouvelles options seront disponibles sous peu!
    </p>
    <legend style="margin-top:15px;"></legend>
    
    <div class="row">
      <div class="span6">
	<h2>Informations de connexions FTP</h2>
	<p>
	  <a class="btn" href="{ROOT}modules/admin/set_ftp_info.php">
	    Go &raquo;</a>
	</p>
      </div>
    <div class="row">
      <div class="span6">
	<h2>Ajouter un utilisateur</h2>
	<p>
	  <a class="btn" href="{ROOT}modules/admin/add_user.php">
	    Go &raquo;</a>
	</p>
      </div>
    </div>
    
  </div>
  
  
<!-- INCLUDE _footer.html -->
